<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.ProductMapper">
    <select id="selectById" resultType="Product" >
        select * from product where id = #{id}
    </select>
    <update id="updateStock" >
        update product set stock=stock-#{quantity} where id = #{id}
    </update>
</mapper>